.advantages{
    background-image: url(../img/wood.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 5%;
    padding-top: 3%;

    &__list{
        width: 77%;
        margin-left: 12%;
        margin-top: 3%;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-between;

        @include desc{
            width: 100%;
            margin-left: 0;
        }

        @include tablets{
            display: grid;
            display: -ms-grid;
            grid-template-columns: 1fr 1fr;
            -ms-grid-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            -ms-grid-rows: 1fr 1fr;
            margin-left: 0;
        }

    }

    &__item{
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(1){
            @include tablets{
                grid-column: 1;
                grid-row: 1;
            }
        }
        &:nth-child(2){
            @include tablets{
                grid-column: 2;
                grid-row: 1;
            }   
        }
        &:nth-child(3){
            @include tablets{
                grid-column: 1;
                grid-row: 2;
            }
        }
        &:nth-child(4){
            @include tablets{
                grid-column: 2;
                grid-row: 2;
            }
        }


        @include desc{
            width: 22%;
        }

        @include tablets{
            width: 100%;
        }

        @include ie{
            display: block;
        }
        
    }

    &__img{
        height: 126px;
        width: 127px;
        margin-bottom: 16%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img{
            @include ie{
                height: 100%;
            }

            
        }

        @include desc{
            width: 90px;
            -o-object-fit: contain;
               object-fit: contain;
        }

        @include tablets{
            width: 70px;
            height: 90px;
            margin-bottom: 5%;
        }

        @include phones{
            width: 50px;
            height: 70px;
        }

        @include ie{
            margin-left: 50%;
            transform: translateX(-50%);
        }

    }

    &__text{
        font-size: 16px;
        
    }

   
    


}