@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


@font-face {
    font-family: Intro;
    src: url(../fonts/8439.ttf);
  }

  @font-face {
    font-family: Myriad Pro;
    src: url(../fonts/8143.otf);
  }